<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const socket = io();
  
        const messages = document.getElementById('messages');
        const room = document.getElementById('room');
        room.value = '<%= defaultQueue %>';

        socket.on('connect', function() {
          console.log('connected');
          joinToRoom();
        })
  
        socket.on('message', function ({ message, username }) {
          const node = document.createElement('span');
          node.className = 'message';
  
          const text = document.createElement('p');
          text.innerHTML = `<b>${username}:</b> ${message}`;
          node.appendChild(text);
  
          const metadata = document.createElement('span');
          metadata.textContent = new Date().toLocaleTimeString();
          node.appendChild(metadata);

          if (messages.childNodes.length > 50) {
            messages.removeChild(messages.childNodes[0]);
          }
  
          messages.appendChild(node);
        });

        document.getElementById('join-to-room').addEventListener('submit', function(e) {
          e.preventDefault();
          joinToRoom();
        });

        document.getElementById('chat').addEventListener('submit', function(e) {
          e.preventDefault();
          const input = document.getElementById('msg');
          socket.emit('message', {
            queueName: room.value,
            message: input.value,
            username: '<%= username %>'
          });
          input.value = '';
        });

        function joinToRoom() {
          socket.emit('join', room.value);
          messages.innerHTML = '';
        }
      });
    </script>
  </head>
  <body>
    <h1>Chatbot</h1>
    <div class="nav">
      <div class="user-info">
        <h3>Welcome <%= username %>!</h3>
        <a href="/users/logout">logout</a>
      </div>
      <form id="join-to-room" class="room">
        <label for="room-input">Room:</label>
        <input type="text" id="room" name="room-input">
        <input type="submit" value="Join">
      </form>
    </div>
    <div id="messages"></div>
    <form id="chat" class="chat">
      <label for="new-message">New message:</label>
      <input type="text" id="msg" name="new-message">
      <input type="submit" value="Send">
    </form>
  </body>
</html>
