body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 12px;
    width: 200px;
    height: 16px;
  }
  input[type="submit"] {
    width: 212px;
    height: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  h3 {
    margin-right: 12px;
  }
  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
  }
  .room {
    display: flex;
    flex-direction: row;
    width: 35%;
    input[type='text'] {
      width: 100px;
    }
    input {
      margin-left: 6px;
    }
  }
}

.chat {
  border-top: 0.5px solid grey;
  margin-top: 24px;
  padding-top: 12px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  p {
    width: 85%;
    margin: 4px;
  }
}

.error {
  margin-top: 12px;
  color: red;
}

#current-room {
  margin-right: 12px;
  
}
